<h1>Pending Matches</h1>

Fix for doubles

<% @match_hash_array.each do |match| %>
  <p>Game Type: <%= match[:type] %></p>
  <p>You are on team <%= match[:team] %></p>
  <form method="POST" action="/user/pending_matches/<%= match[:match_id]%>">
      <input type="hidden" name="_method" value ="put">

      <button type="submit" name="choice" value='cancelled'> Cancel </button>
      <button type="submit" name="choice" value='end'> End Game </button>
  </form>
<% end %>
