*, *:before, *:after
  box-sizing: border-box

.custom-media-profile
  display: flex

  img 
    display: block

  .media-image
    max-width: 60px
    margin-right: .5rem
    margin-bottom: 0
    overflow: hidden

    border-radius: 50%

  .media-content
    margin-top: .5rem

  .custom-media-profile-stats > span
    margin-left: .5rem
    padding-left: .5rem

    border-left: 1px solid #CCC
  
  .custom-media-profile-stats > span:first-child
    margin-left: 0
    padding-left: 0

    border-left: none

.custom-sub-menu
  position: fixed
  bottom: 0
  left: 0
  right: 0

.custom-media-image-collection
  align-self: center
  position: relative
  width: 60px
  height: 60px
  margin-right: .5rem

  .media-image
    margin-right: 0
    width: 45%  

  .media-image:nth-child(1)
    position: absolute
    top: 4px
    left: 0
    right: 0
    margin: 0 auto

  .media-image:nth-child(2)
    position: absolute
    bottom: 0
    left: 0

  .media-image:nth-child(3)
    position: absolute
    bottom: 0
    right: 0

.custom-container-with-subnav
  padding-bottom: 117px

.button.custom-circle-button
  margin-top: .5rem
  margin-left: .5rem
  width: 40px
  height: 40px
  padding: 0

  border-radius: 50%

  &:first-child
    margin-left: 0

  .fa
    width: 40px
    line-height: 40px
    color: #666

.custom-select-winner-wrapper
  margin: 3rem 0

  .media
    border: none
    margin-left: 1rem
    margin-right: 1rem
    margin-top: 0
    padding-top: 0

.custom-choose-team
  width: 100%
  display: flex
  justify-content: center

  .media-image
    margin-right: 0
    max-width: 100px

.custom-select-player
  margin-left: 1rem
  margin-right: 1rem
  width: 80px
  overflow: hidden

  border-radius: 50%

  img
    display: block

.custom-record-options
  margin-top: 2rem

  .button.custom-circle-button
    margin-left: 1rem
    margin-right: 1rem

  form 
    display: inline-block

.custom-winner 
  transform: scale(1.25)

.custom-win-ratio-update 
  margin-top: 1rem

  span
    display: block
    text-align: center
  
.custom-challenge-notification
  
  figure
    float: left
    width: 60px
    margin-right: 1rem
    overflow: hidden

    border-radius: 50%

  img 
    display: block

  .button
    border-color: #FFF

.custom-notification-title h5
  padding-top: .5rem
  
.custom-notification-buttons
  margin-top: 1.5rem

  .button:first-child
    margin-right: .25rem

.custom-start-game
  display: flex
  justify-content: space-between

.custom-add-players
  .button
    border-color: #FFF

.notification.custom-is-dark
  margin-left: -20px
  margin-right: -20px
  border-radius: 0

  color: #FFF
  background-color: #333

  .is-centered .button
    margin-top: 1rem

.custom-selected-teammate
  margin-left: -20px
  width: calc(100% + 40px)
  border-bottom: 5px solid rgba(211, 214, 219, 0.5)
  padding-right: 20px
  padding-bottom: 1rem

  .media-image
    margin-left: 20px

ul
  margin-bottom: 20px

li
  list-style: circle

.custom-table-stats
  td 
    vertical-align: middle

  img
    margin-right: .5rem
    width: 40px
    display: inline-block

    vertical-align: middle

    border-radius: 50%
    overflow: hidden

  div
    vertical-align: middle
    display: inline-block

  div > span
    display: block

.custom-table-hide-img
  img
    display: none

@media screen and (min-width: 640px)
  .custom-table-hide-img
    img
      display: inline-block

.is-hidden
  display: none !important

.is-selected
  display: none

.custom-teammate-title
  display: none
  
.has-teammate

  .custom-teammate-title
    display: block
  
  .custom-selected-players li:nth-child(2)
    border-top: 3px solid rgba(211, 214, 219, 0.5)