<section class='section'>
<div class='container'>

<div class="notification is-info custom-challenge-notification">
  <span class="delete"></span>
  <div class='custom-notification-title'>
    <figure><img src='/images/player_03.jpg'></figure>
    <h5 class='title is-5'>MikeIke accepted your request.</h5>
  </div>
  <div class='custom-notification-buttons is-centered'>
    <a class="button">View Match</a>
  </div>
</div>

</div>
</section>