<section class='section'>
<div class='container'>

<div class="notification is-info custom-challenge-notification">
  <span class="delete"></span>
  <div class='custom-notification-title'>
    <figure><img src='/images/current_user.jpg'></figure>
    <h5 class='title is-5'>DennisTheMenace requests a match.</h5>
  </div>
  <div class='custom-notification-buttons is-centered'>
    <a class="button">Decline</a>
    <a class="button">Accept</a>
  </div>
</div>

</div>
</section>