<section class='section'>
<div class='container'>

<h1 class='title'>Match Saved</h1>

<div class="custom-select-winner">
  <div>
    <figure class='custom-select-player'><img src='/images/current_user.jpg'></figure>
    <div class='custom-win-ratio-update'>
      <span>W/L Ratio</span>
      <span>50.4 (+0.4) </span>
    </div>
  </div>
  <div>
    <figure class='custom-select-player'><img src='/images/player_03.jpg'></figure>
    <div class='custom-win-ratio-update'>
      <span>W/L Ratio</span>
      <span>37.4 (-1.5) </span>
    </div>
  </div>
</div>

<div class="is-centered">
  <a href='/dev/match' class='button'>Back to Matches</a>
  <a class='button'>Another Round</a>
</div>

</div>
</section>