<div class="container custom-container-with-subnav">

<section class="section">
  <div class="container">

  <h1 class='title'>Awaiting Responses</h1>

    <ul>
        <li class='media custom-media-profile'>
          <figure class='media-image'><img src='/images/coleson.jpg'></figure>
          <div class='media-content'>
            <p>Sent at 2:40 pm</p>
            <p>To ColesoON</p>
          </div>
          <div data-match-invite-id='12'>
            <a class="button icon is-medium custom-circle-button js-cancel-invite"><i class="fa fa-times"></i></a>
          </div>
        </li>
        <li class='media custom-media-profile'>
          <div class='custom-media-image-collection'>
            <figure class='media-image'><img src='/images/michael.jpg'></figure>
            <figure class='media-image'><img src='/images/nicholas.jpg'></figure>
            <figure class='media-image'><img src='/images/jared.jpg'></figure>
          </div>
          
          <div class='media-content'>
            <p>Sent at 1:35 pm</p>
            <p>To MikeIke, NickBozzMan, JarHead</p>
          </div>
          <div data-match-invite-id='24'>
            <a class="button icon is-medium custom-circle-button js-cancel-invite"><i class="fa fa-times"></i></a>
          </div>
        </li>
    </ul>
  </div>
</section>

<%= erb :'/dev/match/_sub_nav' %>

</div>