<section class="section">
  <div class="container">

  <h1 class='title'>Awaiting Responses</h1>

    <ul>
        <li class='media custom-media-profile'>
          <figure class='media-image'><img src='/images/player_01.jpg'></figure>
          <div class='media-content'>
            <p>Sent at 2:40 pm</p>
            <p>To ColesoON</p>
          </div>
          <div>
            <a class="button icon is-medium"><i class="fa fa-times"></i></a>
          </div>
        </li>
        <li class='media custom-media-profile'>
          <div class='custom-media-image-collection'>
            <figure class='media-image'><img src='/images/player_03.jpg'></figure>
            <figure class='media-image'><img src='/images/player_02.jpg'></figure>
            <figure class='media-image'><img src='/images/player_04.jpg'></figure>
          </div>
          
          <div class='media-content'>
            <p>Sent at 1:35 pm</p>
            <p>To MikeIke, NickBozzMan, JarHead</p>
          </div>
          <div>
            <a class="button icon is-medium"><i class="fa fa-times"></i></a>
          </div>
        </li>
    </ul>
  </div>
</section>

<section class="section custom-sub-menu">
  <div class="container">
    <div class="tabs is-toggle is-centered">
      <ul>
        <li><a href='/dev/match'>Request</a></li>
        <li class='is-active'><a href='/dev/match/pending'>Pending</a></li>
        <li><a href='/dev/match/record' >Record</a></li>
      </ul>
    </div>
  </div>
</section>