<div class="container custom-container-with-subnav">

<section class='section'>
  <div class='container'>
    <h1 class='title'>Record Match</h1>

    <ul>
      <li class='media custom-media-profile'>
        <figure class='media-image'><img src='/images/player_03.jpg'></figure>
        <div class='media-content'>
          <p>Accepted at 11:20 am</p>
          <p>MikeIke</p>
        </div>
        <div data-match-id='99'>
          <a class="button icon is-medium custom-circle-button js-cancel-match"><i class="fa fa-times"></i></a>
          <a class="button icon is-medium custom-circle-button js-record-match"><i class="fa fa-check"></i></a>
        </div>
      </li>
    </ul>

  </div>
</section>


<%= erb :'/dev/match/_sub_nav' %>

</div>