<div class="container custom-container-with-subnav">

<section class="section">
  <div class="container">

  <h1 class='title'>Match Invites</h1>

    <ul>
      <li class='media custom-media-profile'>
        <figure class='media-image'><img src='/images/player_04.jpg'></figure>
        <div class='media-content'>
          <p>Sent 1 days ago</p>
          <p>From JarHead</p>
        </div>
        <div>
          <a class="button icon is-medium custom-circle-button"><i class="fa fa-times"></i></a>
          <a class="button icon is-medium custom-circle-button"><i class="fa fa-check"></i></a>
        </div>
      </li>
    </ul>
  </div>
</section>

<%= erb :'/dev/match/_sub_nav' %>

</div>