<section class='section'>
<div class='container'>

<h1 class='title'>Select Winner</h1>

<div class="custom-select-winner">
  <figure class='custom-select-player'><img src='/images/current_user.jpg'></figure>
  <figure class='custom-select-player'><img src='/images/player_03.jpg'></figure>
</div>

<div class='is-centered'>
  <a class="button icon is-medium custom-circle-button"><i class="fa fa-arrow-left"></i></a>
  <a class="button icon is-medium is-disabled custom-circle-button"><i class="fa fa-check"></i></a>
</div>

</div>
</section>