<section class="hero is-primary">
  <div class="hero-content">
    <div class="container">
      <h1 class="title">Log In</h1>
    </div>
  </div>
</section>
<section class="section">
  
<div class="container">
  <form method="POST" action="/users/login" class="form-login">
    <h2 class="subtitle">Username:</h2>
    <p class="control">
      <input class="input" type="text" name="username" placeholder="Username" value="<%= @user && @user.username %>" required>
    </p>

    <h2 class="subtitle">Password:</h2>
    <p class="control is-withicon">
      <input class="input" type="password" placeholder="Password" name="password" value="<%@user && @user.password%>" required>
      <i class="fa fa-lock"></i>
    </p>

    <p class="control">
    </p>

    <div class="is-centered">
      <button type="submit" class="btn is-primary">Login</button>
    </div>
  </form>

  </div>
</section>
