<section class='section'>
  <div class='container'>
    <h1 class='title'>Leaderboard</h1>

    <h2 class='title is-5'>Singles - Top 10</h2>
    <table class='custom-stats-table'>
      <tr>
        <th>R.</th>
        <th>Name</th>
        <th>Wins</th>
        <th>Losses</th>
        <th>Win %</th>
      </tr>
      <tr>
        <td>1</td>
        <td><img src='/images/player_04.jpg'>JarHead</td>
        <td>13</td>
        <td>9</td>
        <td>59.1%</td>
      </tr>
      <tr>
        <td>2</td>
        <td><img src='/images/player_01.jpg'>ColesoON</td>
        <td>12</td>
        <td>13</td>
        <td>48%</td>
      </tr>
      <tr>
        <td>3</td>
        <td><img src='/images/player_04.jpg'>JarHead</td>
        <td>13</td>
        <td>9</td>
        <td>59.1%</td>
      </tr>
      <tr>
        <td>4</td>
        <td><img src='/images/player_01.jpg'>ColesoON</td>
        <td>12</td>
        <td>13</td>
        <td>48%</td>
      </tr>
      <tr>
        <td>5</td>
        <td><img src='/images/player_04.jpg'>JarHead</td>
        <td>13</td>
        <td>9</td>
        <td>59.1%</td>
      </tr>
      <tr>
        <td>6</td>
        <td><img src='/images/player_01.jpg'>ColesoON</td>
        <td>12</td>
        <td>13</td>
        <td>48%</td>
      </tr>
      <tr>
        <td>7</td>
        <td><img src='/images/player_04.jpg'>JarHead</td>
        <td>13</td>
        <td>9</td>
        <td>59.1%</td>
      </tr>
      <tr>
        <td>8</td>
        <td><img src='/images/player_01.jpg'>ColesoON</td>
        <td>12</td>
        <td>13</td>
        <td>48%</td>
      </tr>
      <tr>
        <td>9</td>
        <td><img src='/images/player_04.jpg'>JarHead</td>
        <td>13</td>
        <td>9</td>
        <td>59.1%</td>
      </tr>
      <tr>
        <td>10</td>
        <td><img src='/images/player_01.jpg'>ColesoON</td>
        <td>12</td>
        <td>13</td>
        <td>48%</td>
      </tr>
    </table>
    <div class='content'>
      <p><a>View entire ranking</a></p>
    </div>

    <h2 class='title is-5'>Doubles - Top 10</h2>
    <table class='custom-stats-table custom-doubles-stats'>
      <tr>
        <th>R.</th>
        <th>Team</th>
        <th>Wins</th>
        <th>Losses</th>
        <th>Win %</th>
      </tr>
      <tr>
        <td>1</td>
        <td>
          <img src='/images/player_04.jpg'>
          <img src='/images/player_02.jpg'>
          <span>JarHead</span> 
          <span>NickBozzMan</span>
        </td>
        <td>13</td>
        <td>9</td>
        <td>59.1%</td>
      </tr>
      <tr>
        <td>2</td>
        <td>
          <img src='/images/player_01.jpg'>
          <img src='/images/player_03.jpg'>
          <span>ColesoON</span> 
          <span>MikeIke</span>
        </td>
        <td>12</td>
        <td>13</td>
        <td>48%</td>
      </tr>
      <tr>
        <td>3</td>
        <td>
          <img src='/images/player_04.jpg'>
          <img src='/images/player_02.jpg'>
          <span>JarHead</span> 
          <span>NickBozzMan</span>
        </td>
        <td>13</td>
        <td>9</td>
        <td>59.1%</td>
      </tr>
      <tr>
        <td>4</td>
        <td>
          <img src='/images/player_01.jpg'>
          <img src='/images/player_03.jpg'>
          <span>ColesoON</span> 
          <span>MikeIke</span>
        </td>
        <td>12</td>
        <td>13</td>
        <td>48%</td>
      </tr>
      <tr>
        <td>5</td>
        <td>
          <img src='/images/player_04.jpg'>
          <img src='/images/player_02.jpg'>
          <span>JarHead</span> 
          <span>NickBozzMan</span>
        </td>
        <td>13</td>
        <td>9</td>
        <td>59.1%</td>
      </tr>
      <tr>
        <td>6</td>
        <td>
          <img src='/images/player_01.jpg'>
          <img src='/images/player_03.jpg'>
          <span>ColesoON</span> 
          <span>MikeIke</span>
        </td>
        <td>12</td>
        <td>13</td>
        <td>48%</td>
      </tr>
      <tr>
        <td>7</td>
        <td>
          <img src='/images/player_04.jpg'>
          <img src='/images/player_02.jpg'>
          <span>JarHead</span> 
          <span>NickBozzMan</span>
        </td>
        <td>13</td>
        <td>9</td>
        <td>59.1%</td>
      </tr>
      <tr>
        <td>8</td>
        <td>
          <img src='/images/player_01.jpg'>
          <img src='/images/player_03.jpg'>
          <span>ColesoON</span> 
          <span>MikeIke</span>
        </td>
        <td>12</td>
        <td>13</td>
        <td>48%</td>
      </tr>
      <tr>
        <td>9</td>
        <td>
          <img src='/images/player_04.jpg'>
          <img src='/images/player_02.jpg'>
          <span>JarHead</span> 
          <span>NickBozzMan</span>
        </td>
        <td>13</td>
        <td>9</td>
        <td>59.1%</td>
      </tr>
      <tr>
        <td>10</td>
        <td>
          <img src='/images/player_01.jpg'>
          <img src='/images/player_03.jpg'>
          <span>ColesoON</span> 
          <span>MikeIke</span>
        </td>
        <td>12</td>
        <td>13</td>
        <td>48%</td>
      </tr>
    </table>
    <div class='content'>
      <p><a>View entire ranking</a></p>
    </div>

    <div class='content'>
    <h2 class='title is-5'>Latest Matches</h2>
    <table class='custom-stats-table custom-latests-stats'>
      <tr>
        <th>Time</th>
        <th>Team 1</th>
        <th>Team 2</th>
        <th>Winner/s</th>
      </tr>
      <tr>
        <td>2:40 pm</td>
        <td>ColesoON</td>
        <td>MikeIke</td>
        <td>
          <img src='/images/player_01.jpg'>
          ColesoON
        </td>
      </tr>
      <tr>
        <td>1:00 pm</td>
        <td>
          <div>
            <span>JarHead</span>
            <span>NickBozzMan</span>
          </div>
        </td>
        <td>
          <div>
            <span>DennisTheMenis</span>
            <span>ColesoON</span>
          </div>
        </td>
        <td>
          <img src='/images/player_04.jpg'>
          <img src='/images/player_02.jpg'>
          <div>
            <span>JarHead</span>
            <span>NickBozzMan</span>
          </div>
        </td>
      </tr>
      <tr>
        <td>12:40 pm</td>
        <td>ColesoON</td>
        <td>MikeIke</td>
        <td><img src='/images/player_01.jpg'>ColesoON</td>
      </tr>
      <tr>
        <td>12:30 pm</td>
        <td>ColesoON</td>
        <td>MikeIke</td>
        <td><img src='/images/player_01.jpg'>MikeIke</td>
      </tr>
      <tr>
        <td>10:35 pm</td>
        <td>JarHead</td>
        <td>NickBozzMan</td>
        <td><img src='/images/player_04.jpg'>JarHead</td>
      </tr>
      <tr>
        <td>1 day ago</td>
        <td>
          <div>
            <span>ColesoON</span> 
            <span>MikeIke</span>
          </div>
        </td>
        <td>
          <div>
            <span>NickBozzMan</span> 
            <span>JarHead</span>
          </div>
        <td>
          <img src='/images/player_01.jpg'>
          <img src='/images/current_user.jpg'>
          <div>
            <span>ColesoON</span>
            <span>DennisTheMennis</span>
          </div>
        </td>
      </tr>
      <tr>
        <td>1 day ago</td>
        <td>
          <div>
            <span>ColesoON</span> 
            <span>MikeIke</span>
          </div>
        </td>
        <td>
          <div>
            <span>NickBozzMan</span> 
            <span>JarHead</span>
          </div>
        <td>
          <img src='/images/player_01.jpg'>
          <img src='/images/current_user.jpg'>
          <div>
            <span>ColesoON</span>
            <span>DennisTheMennis</span>
          </div>
        </td>
      </tr>
      <tr>
        <td>1 day ago</td>
        <td>ColesoON</td>
        <td>MikeIke</td>
        <td><img src='/images/player_01.jpg'>ColesoON</td>
      </tr>
      <tr>
        <td>1 day ago</td>
        <td>ColesoON</td>
        <td>MikeIke</td>
        <td><img src='/images/player_03.jpg'>MikeIke</td>
      </tr>
      <tr>
      <tr>
        <td>1 day ago</td>
        <td>ColesoON</td>
        <td>MikeIke</td>
        <td><img src='/images/player_01.jpg'>ColesoON</td>
      </tr>
      <tr>
    </table>
    </div>

  </div>
</section>