<section class='section'>
  <div class='container'>
    <h1 class='title'>Leaderboard</h1>

    <h2 class='title is-5'>Singles - Top 10</h2>
    <table class='custom-stats-table'>
      <tr>
        <th>R.</th>
        <th>Name</th>
        <th>Wins</th>
        <th>Losses</th>
        <th>Win %</th>
      </tr>
      <tr>
        <td>1</td>
        <td><img src='/images/player_04.jpg'>JarHead</td>
        <td>13</td>
        <td>9</td>
        <td>59.1%</td>
      </tr>
      <tr>
        <td>2</td>
        <td><img src='/images/player_01.jpg'>ColesoON</td>
        <td>12</td>
        <td>13</td>
        <td>48%</td>
      </tr>
      <tr>
        <td>3</td>
        <td><img src='/images/player_04.jpg'>JarHead</td>
        <td>13</td>
        <td>9</td>
        <td>59.1%</td>
      </tr>
      <tr>
        <td>4</td>
        <td><img src='/images/player_01.jpg'>ColesoON</td>
        <td>12</td>
        <td>13</td>
        <td>48%</td>
      </tr>
      <tr>
        <td>5</td>
        <td><img src='/images/player_04.jpg'>JarHead</td>
        <td>13</td>
        <td>9</td>
        <td>59.1%</td>
      </tr>
      <tr>
        <td>6</td>
        <td><img src='/images/player_01.jpg'>ColesoON</td>
        <td>12</td>
        <td>13</td>
        <td>48%</td>
      </tr>
      <tr>
        <td>7</td>
        <td><img src='/images/player_04.jpg'>JarHead</td>
        <td>13</td>
        <td>9</td>
        <td>59.1%</td>
      </tr>
      <tr>
        <td>8</td>
        <td><img src='/images/player_01.jpg'>ColesoON</td>
        <td>12</td>
        <td>13</td>
        <td>48%</td>
      </tr>
      <tr>
        <td>9</td>
        <td><img src='/images/player_04.jpg'>JarHead</td>
        <td>13</td>
        <td>9</td>
        <td>59.1%</td>
      </tr>
      <tr>
        <td>10</td>
        <td><img src='/images/player_01.jpg'>ColesoON</td>
        <td>12</td>
        <td>13</td>
        <td>48%</td>
      </tr>
    </table>
    <div class='content'>
      <p><a>View entire ranking</a></p>
    </div>

    <h2 class='title is-5'>Doubles - Top 10</h2>
    <table class='custom-stats-table custom-doubles-stats'>
      <tr>
        <th>R.</th>
        <th>Team</th>
        <th>Wins</th>
        <th>Losses</th>
        <th>Win %</th>
      </tr>
      <tr>
        <td>1</td>
        <td>
          <img src='/images/player_04.jpg'>
          <img src='/images/player_02.jpg'>
          <span>JarHead</span> 
          <span>NickBozzMan</span>
        </td>
        <td>13</td>
        <td>9</td>
        <td>59.1%</td>
      </tr>
      <tr>
        <td>2</td>
        <td>
          <img src='/images/player_01.jpg'>
          <img src='/images/player_03.jpg'>
          <span>ColesoON</span> 
          <span>MikeIke</span>
        </td>
        <td>12</td>
        <td>13</td>
        <td>48%</td>
      </tr>
      <tr>
        <td>3</td>
        <td>
          <img src='/images/player_04.jpg'>
          <img src='/images/player_02.jpg'>
          <span>JarHead</span> 
          <span>NickBozzMan</span>
        </td>
        <td>13</td>
        <td>9</td>
        <td>59.1%</td>
      </tr>
      <tr>
        <td>4</td>
        <td>
          <img src='/images/player_01.jpg'>
          <img src='/images/player_03.jpg'>
          <span>ColesoON</span> 
          <span>MikeIke</span>
        </td>
        <td>12</td>
        <td>13</td>
        <td>48%</td>
      </tr>
      <tr>
        <td>5</td>
        <td>
          <img src='/images/player_04.jpg'>
          <img src='/images/player_02.jpg'>
          <span>JarHead</span> 
          <span>NickBozzMan</span>
        </td>
        <td>13</td>
        <td>9</td>
        <td>59.1%</td>
      </tr>
      <tr>
        <td>6</td>
        <td>
          <img src='/images/player_01.jpg'>
          <img src='/images/player_03.jpg'>
          <span>ColesoON</span> 
          <span>MikeIke</span>
        </td>
        <td>12</td>
        <td>13</td>
        <td>48%</td>
      </tr>
      <tr>
        <td>7</td>
        <td>
          <img src='/images/player_04.jpg'>
          <img src='/images/player_02.jpg'>
          <span>JarHead</span> 
          <span>NickBozzMan</span>
        </td>
        <td>13</td>
        <td>9</td>
        <td>59.1%</td>
      </tr>
      <tr>
        <td>8</td>
        <td>
          <img src='/images/player_01.jpg'>
          <img src='/images/player_03.jpg'>
          <span>ColesoON</span> 
          <span>MikeIke</span>
        </td>
        <td>12</td>
        <td>13</td>
        <td>48%</td>
      </tr>
      <tr>
        <td>9</td>
        <td>
          <img src='/images/player_04.jpg'>
          <img src='/images/player_02.jpg'>
          <span>JarHead</span> 
          <span>NickBozzMan</span>
        </td>
        <td>13</td>
        <td>9</td>
        <td>59.1%</td>
      </tr>
      <tr>
        <td>10</td>
        <td>
          <img src='/images/player_01.jpg'>
          <img src='/images/player_03.jpg'>
          <span>ColesoON</span> 
          <span>MikeIke</span>
        </td>
        <td>12</td>
        <td>13</td>
        <td>48%</td>
      </tr>
    </table>
    <div class='content'>
      <p><a>View entire ranking</a></p>
    </div>

  </div>
</section>