<form method="POST" action="/user/match_request">

  <input type="hidden" name="user_id" value = <%= 2 %> >
  <input type="hidden" name="team" value = <%= 2 %> >
  <input type="hidden" name="type" value = <%= "singles" %> >
  <input name="message" value = <%= nil  %> >
  <button type="submit">Issue Request</button> 
</form>