<section class="section custom-sub-menu">
  <div class="container">
    <div class="tabs is-toggle is-centered">
      <ul>
        <li class='<%= 'is-active' if request.path_info == '/user/match_request/new'%>'><a href='/user/match_request/new'>Create</a></li>
        <li class='<%= 'is-active' if request.path_info == '/user/match_invites'%>'><a href='/user/match_invites'>Invites</a></li>
        <li class='<%= 'is-active' if request.path_info == '/dev/match/pending'%>'><a href='/dev/match/pending'>Pending</a></li>
        <li class='<%= 'is-active' if request.path_info == '/user/pending_matches'%>'><a href='/user/pending_matches' >Record</a></li>
      </ul>
    </div>
  </div>
</section>