<!DOCTYPE html>
<html lang="en">
<head>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/stylesheets/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/stylesheets/application.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">


  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/javascript/application.js"></script>

  <title></title>
</head>
<body>

  <header class="header">
    <div class="container">

      <div class="header-left">
        <a class="header-item" href="/">
          <p>FML</p>
        </a>
        <span class="header-item">
          <a class="button" href="/dev/match">Play</a>
        </span>
      </div>

      <!-- Hamburger menu (on mobile) -->
      <span id="header-toggle" class="header-toggle">
        <span></span>
        <span></span>
        <span></span>
      </span>

      <!-- Right side -->
      <div id="header-menu" class="header-right header-menu">
        <span class="header-item">
          <a href="/intro">Intro</a>
        </span>
        <span class="header-item">
          <a href="/leaderboard">Leaderboard</a>
        </span>
        <span class="header-item">
          <a href="/account">Account</a>
        </span>
        <span class="header-item">
          <a class="button" href="/account">Log out</a>
        </span>
      </div>
    </div>
  </header>

  <!-- Main container -->
  <%= yield %>
</body>
</html>
